/* <!-- ASD 1206 Project 1 -->


/* body, html {
	height: 100%;
}

body {
	font: 16px Helvetica, Sans-serif;
	color: #ffffff;
	/* background: url(../images/concrete9_small.jpg); 
}

#description p {
	margin: 0 0 0 10px;
	padding: 10px 20px 20px;
	background: #333;
	-moz-border-radius: 10px; 
	border-radius: 10px;
	color: #fff;
}

#construction p {
	margin: 0 0 0 10px;
	padding: 10px 20px 20px;
	background: #333;
	-moz-border-radius: 10px; 
	border-radius: 10px;
	color: #fff;
}

ul{
	list-style:none;
}

li{
	padding: 0 0 5px;
}

form{
	padding: 10px;
	background: none;
	-moz-border-radius: 10px;
	-webkit-appearance: none; 
	color: white;
	font-size: 18px;
}

fieldset{
	border: none;
}

header h1{
	margin-left: 5px;
	text-indent: -99999px;
	color: #fff;
	padding-top: 10px;
	width: 270px;
	height: 100px;
	background: url(../images/journeys_main.png) no-repeat top left;
}

header p{
	font-size: 18px;
	padding: 0;
	margin: auto;
}

#items a {
	text-decoration: none;
	color: #fff;
	background: #ff352f;
	padding: 5px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
	text-align: center;
	display: block;
	width: 130px;
}

#container{
	margin: 0 0 0 10px;
	padding: 10px 20px 20px;
    /* background: #2e2e2e; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	color: black;
}

#content {
	/* background: #bac4d3; 
	padding: 5px
}

#browse {
	margin: 0 0 0 10px;
	padding: 10px 20px 20px;
	/* background: #2e2e2e; 
	background: #333;
	-moz-border-radius: 10px; 
	border-radius: 10px;
	color: #fff;
}

#browsecat {
	padding: 5px 10px;
	/* background: #ff352f; 
	background: #ff352f;
	color: #fff;
	border: 0;
	font-size: 18px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 55px;
	
}

#centerstage {
	margin: auto;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 50px;
	width: 285px;
	height: 80px;
}
/*.ui-btn-up-b {
	background: #ff352f !important;
} */

body,html{
	height: 100%;
}
body {
	font: 14px Helvetica, Arial, Sans-serif;
	color: black;
}
.ui-body-a, .ui-body-b,.ui-body-c,.ui-body-d,.ui-body-e{
	color: black;
	background: url(../images/concrete9_small.jpg) repeat top left ;
}

ul{
	padding: 0;
	list-style:none;
}

.ui-collapsible .ui-btn-inner {
	background: #d82b24;
	color: #fff;
	text-shadow: none;
	text-transform: uppercase;
}

.ui-collapsible .ui-btn-corner-all{
	color: white;
	background: #455e9a;
}

#centerstage{
	height: 145px;
	width: 281px;
	margin: 0 auto 20px;
	clear: both;
}

#homehead{
	background: none;
	border: none;
}

#headerh1{
	margin:10px auto 0;
	text-indent: -9999px;
	color: black;
	padding-top: 10px;
	height: 100px;
	background: url(../images/journeys_main.png) no-repeat top center;
}

header p{
	font-size: 16px;
	padding: 0;
	text-align: center;
	margin: 0;
	text-shadow: none;
	color: black;
}

#cta1{
	padding-bottom: 20px;
	margin-left: auto;
	margin-bottom: 10px;
	margin-right: auto;
	margin-top: 10px;
	height: 110px;
	width: 281px;
	clear: both;
}

#headnothome{
	margin:10px auto 0;
	text-indent: -9999px;
	padding-top: 10px;
	height: 50px;
	background: url(../images/journeys_small.png) no-repeat top center;
}

#headother{
	border: #dedede solid 1px;
}

.ui-collapsible-content {
    background: #969696;
}

#viewall{
	background: #455e9a;
	color: white;
}

#catbrowse{
	color: black;
	text-align: center;
	text-transform: uppercase;
}

label.error{
	border-color: #ff282b;
	border-style: groove;
	background-color: white;
	display:block; 
	margin: 10px 0; 
	color: #cc0000;
}
.prompt{
	background-color: #464646;
	color: black;
	margin-left: 8px;
}


.ui-btn-hover-b{
	background: #d82b24 !important;
}
#scrapbookForm input, #scrapbookForm textarea{background-color: white;}
#reset .ui-shadow{box-shadow: none !important;border: 1px solid #efefef;} 