/* Andrew Phillips - MiU - Week 3 */
ul{
	padding: 0;
	list-style:none;
}

label.error{
	display:block; 
	margin: 10px 0; 
	color: #cc0000;
}
.prompt{
	color: #ccc;
	margin-left: 8px;
}

/*.ui-btn-up-b {
	background: #ff352f !important;
} 
.ui-btn-hover-b{
	background: #ff352f !important;
} */
#scrapbookForm input, #scrapbookForm textarea{background: #fff}
#mysubmit .ui-shadow{box-shadow: none !important;border: 1px solid #efefef;}
/* #reset .ui-shadow{box-shadow: none !important;border: 1px solid #efefef;} */
